In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [4]:
df = pd.DataFrame({'a': [1,2,3,4], 'b': [5,6,7,8]})

In [24]:
df = pd.DataFrame({'a': [1], 'b': [5]})

In [25]:
df

   a  b
0  1  5

In [43]:
%%time
pd.concat([df, pd.DataFrame([9], columns=['c'])], axis=1)

CPU times: user 1.39 ms, sys: 0 ns, total: 1.39 ms
Wall time: 1.35 ms

   a  b  c
0  1  5  9

In [47]:
%%time
pd.DataFrame(np.concatenate(  (df.to_numpy(), [[9]]), axis=1), columns=['a', 'b', 'c'])

CPU times: user 410 µs, sys: 79 µs, total: 489 µs
Wall time: 476 µs

   a  b  c
0  1  5  9

In [66]:
%%time
pd.DataFrame([df.iloc[0].tolist() + [9]], columns=['a', 'b', 'c'])

CPU times: user 955 µs, sys: 0 ns, total: 955 µs
Wall time: 897 µs

   a  b  c
0  1  5  9

In [74]:
%%time
df['c'] = 9

CPU times: user 1.14 ms, sys: 248 µs, total: 1.39 ms
Wall time: 1.05 ms

In [75]:
df

   a  b  c
0  1  5  9

In [51]:
pd.DataFrame([0], columns=['resp_n1_predict'])

   resp_n1_predict
0                0

In [54]:
df['a'].tolist() + [9]

[1, 9]

In [67]:
%%time
df.loc[:, ['a', 'b']]

CPU times: user 766 µs, sys: 168 µs, total: 934 µs
Wall time: 1.42 ms

   a  b
0  1  5

In [68]:
%%time
df[['a', 'b']]

CPU times: user 751 µs, sys: 164 µs, total: 915 µs
Wall time: 932 µs

   a  b
0  1  5