# Openclassrooms PJ5 : Online Retail dataset :  data exploration notebook

In [1]:
%load_ext autoreload
%autoreload 2

from functions import *

In [32]:
%matplotlib inline

import pandas as pd

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

import os
import zipfile
import urllib

import matplotlib.pyplot as plt

import numpy as np

import qgrid

import glob

from pandas.plotting import scatter_matrix

DOWNLOAD_ROOT = "https://archive.ics.uci.edu/ml/machine-learning-databases/00352/"
DATA_FILENAME = "Online%20Retail.xlsx"
DATA_PATH = os.path.join("datasets", "onlineretail")

DATA_PATH_OUT = os.path.join(DATA_PATH, "out")
DATA_PATH_FILE_OUTPUT = os.path.join(DATA_PATH_OUT, "OnlineRetail_transformed.csv")

DATA_URL = DOWNLOAD_ROOT + DATA_FILENAME
ARCHIVE_PATH_FILE = os.path.join(DATA_PATH, DATA_FILENAME)


DOWNLOAD_DATA = True  # A la première exécution du notebook, ou pour rafraîchir les données, mettre cette variable à True

plt.rcParams["figure.figsize"] = [16,9] # Taille par défaut des figures de matplotlib

import seaborn as sns
sns.set()

#import common_functions


### For progress bar :
from tqdm import tqdm_notebook as tqdm

# Download and decompression of data

In [3]:
#PROXY_DEF = 'BNP'
PROXY_DEF = None

def fetch_dataset(data_url=DATA_URL, data_path=DATA_PATH):
    if not os.path.isdir(data_path):
        os.makedirs(data_path)

    archive_path = ARCHIVE_PATH_FILE
    
    if (PROXY_DEF == 'BNP'):
        #create the object, assign it to a variable
        proxy = urllib.request.ProxyHandler({'https': 'https://user:pass@ncproxy:8080'})
        # construct a new opener using your proxy settings
        opener = urllib.request.build_opener(proxy)
        # install the openen on the module-level
        urllib.request.install_opener(opener)    
    
    urllib.request.urlretrieve(data_url, archive_path)
    #data_archive = zipfile.ZipFile(archive_path)
    #data_archive.extractall(path=data_path)
    #data_archive.close()

In [4]:
if (DOWNLOAD_DATA == True):
    fetch_dataset()

# Data load

In [5]:
DATA_PATH_FILE = os.path.join(DATA_PATH, "*.xlsx")
ALL_FILES_LIST = glob.glob(DATA_PATH_FILE)

## Import of Excel file

In [6]:
import pandas as pd

pd.set_option('display.max_columns', None)

def load_data(data_path=DATA_PATH):
    file_path = DATA_PATH_FILE
    df_list = []
    
    for f in ALL_FILES_LIST:
        print(f'Loading file {f}')

        df_list.append(pd.read_excel(f, encoding='utf-8', converters={'InvoiceNo': str, 'StockCode':str, 'Description': str, \
                                       'CustomerID':str, 'Country': str})
        )

        
    return pd.concat(df_list)

In [7]:
df = load_data()

Loading file datasets/onlineretail/Online%20Retail.xlsx

## Display some data and basic information

In [8]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null object
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 33.1+ MB

In [10]:
df.describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

# Check for duplicates, and drop them

In [11]:
df[df.duplicated()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908,United Kingdom
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,2010-12-01 11:49:00,2.95,17920,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446,United Kingdom
541699,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446,United Kingdom

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 536641 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      536641 non-null object
StockCode      536641 non-null object
Description    535187 non-null object
Quantity       536641 non-null int64
InvoiceDate    536641 non-null datetime64[ns]
UnitPrice      536641 non-null float64
CustomerID     401604 non-null object
Country        536641 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 36.8+ MB

In [14]:
df.shape

(536641, 8)

# Check quality of data (% complete)

In [15]:
display_percent_complete(df)

             column_name  percent_complete
InvoiceNo      InvoiceNo        100.000000
StockCode      StockCode        100.000000
Quantity        Quantity        100.000000
InvoiceDate  InvoiceDate        100.000000
UnitPrice      UnitPrice        100.000000
Country          Country        100.000000
Description  Description         99.729055
CustomerID    CustomerID         74.836623

# Analysis of qualitative values

## Display of different possible values for qualitative features

In [16]:
for column_name in df.select_dtypes(include=['object']).columns:
    print_column_information(df, column_name)

Column InvoiceNo, type object

--------------------------
InvoiceNo
573585    1114
581219     749
581492     731
580729     721
558475     705
          ...
549136       1
549137       1
549138       1
549139       1
581190       1
Length: 25900, dtype: int64
['536365' '536366' '536367' ... '581585' '581586' '581587']


Column StockCode, type object

--------------------------
StockCode
85123A    2301
22423     2192
85099B    2156
47566     1720
20725     1626
          ...
84509F       1
84510e       1
84526        1
84536b       1
m            1
Length: 4070, dtype: int64
['85123A' '71053' '84406B' ... '90214U' '47591b' '23843']


Column Description, type object

--------------------------
Description
WHITE HANGING HEART T-LIGHT HOLDER    2357
REGENCY CAKESTAND 3 TIER              2189
JUMBO BAG RED RETROSPOT               2156
PARTY BUNTING                         1720
LUNCH BAG RED RETROSPOT               1625
                                      ...
BAROQUE BUTTERFLY EARRINGS MONTANA       1
BAROQUE BUTTERFLY EARRINGS RED           1
PACK 4 FLOWER/BUTTERFLY PATCHES          1
FRYING PAN RED POLKADOT                  1
wrongly sold sets                        1
Length: 4223, dtype: int64
['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'lost'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']


Column CustomerID, type object

--------------------------
CustomerID
17841    7812
14911    5898
14096    5128
12748    4459
14606    2759
         ...
15657       1
18113       1
15668       1
13270       1
17752       1
Length: 4372, dtype: int64
['17850' '13047' '12583' ... '13298' '14569' '12713']


Column Country, type object

--------------------------
Country
United Kingdom          490300
Germany                   9480
France                    8541
EIRE                      8184
Spain                     2528
Netherlands               2371
Belgium                   2069
Switzerland               1994
Portugal                  1510
Australia                 1258
Norway                    1086
Italy                      803
Channel Islands            757
Finland                    695
Cyprus                     611
Sweden                     461
Unspecified                442
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     294
USA                        291
Hong Kong                  284
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
dtype: int64
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

### Trim all text values and check possible values again

In [17]:
df_obj = df.select_dtypes(['object'])

df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [18]:
for column_name in df.select_dtypes(include=['object']).columns:
    print_column_information(df, column_name)

Column InvoiceNo, type object

--------------------------
InvoiceNo
573585    1114
581219     749
581492     731
580729     721
558475     705
          ...
549136       1
549137       1
549138       1
549139       1
581190       1
Length: 25900, dtype: int64
['536365' '536366' '536367' ... '581585' '581586' '581587']


Column StockCode, type object

--------------------------
StockCode
85123A    2301
22423     2192
85099B    2156
47566     1720
20725     1626
          ...
84509F       1
84510e       1
84526        1
84536b       1
m            1
Length: 4070, dtype: int64
['85123A' '71053' '84406B' ... '90214U' '47591b' '23843']


Column Description, type object

--------------------------
Description
WHITE HANGING HEART T-LIGHT HOLDER     2357
REGENCY CAKESTAND 3 TIER               2189
JUMBO BAG RED RETROSPOT                2156
PARTY BUNTING                          1720
LUNCH BAG RED RETROSPOT                1625
                                       ...
M/COLOUR POM-POM CURTAIN                  1
MARIE ANTOIENETT TRINKET BOX GOLD         1
MERCHANT CHANDLER CREDIT ERROR, STO       1
wrongly sold as sets                      1
*Boombox Ipod Classic                     1
Length: 4211, dtype: int64
['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'lost'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']


Column CustomerID, type object

--------------------------
CustomerID
17841    7812
14911    5898
14096    5128
12748    4459
14606    2759
         ...
15657       1
18113       1
15668       1
13270       1
17752       1
Length: 4372, dtype: int64
['17850' '13047' '12583' ... '13298' '14569' '12713']


Column Country, type object

--------------------------
Country
United Kingdom          490300
Germany                   9480
France                    8541
EIRE                      8184
Spain                     2528
Netherlands               2371
Belgium                   2069
Switzerland               1994
Portugal                  1510
Australia                 1258
Norway                    1086
Italy                      803
Channel Islands            757
Finland                    695
Cyprus                     611
Sweden                     461
Unspecified                442
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     294
USA                        291
Hong Kong                  284
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
dtype: int64
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

=> Description now has 4211 distinct values instead of 4223

## Customer ID

In [19]:
df.shape

(536641, 8)

In [20]:
df[df['CustomerID'].isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

### Drop null customer values
Our goal is to segment customers, so orders without customer values are useless

In [21]:
df.drop(index=df[df['CustomerID'].isnull()].index, axis=0, inplace=True)

In [158]:
df.reset_index(drop=True, inplace=True)

In [22]:
df.shape

(401604, 8)

## Check quality of data again (% complete)

In [23]:
display_percent_complete(df)

             column_name  percent_complete
InvoiceNo      InvoiceNo             100.0
StockCode      StockCode             100.0
Description  Description             100.0
Quantity        Quantity             100.0
InvoiceDate  InvoiceDate             100.0
UnitPrice      UnitPrice             100.0
CustomerID    CustomerID             100.0
Country          Country             100.0

=> Now every value is set

## InvoiceNo : analysis of cancellations

### Display cancellations (InvoiceNo starting with C according to dataset description)

In [35]:
df[df['InvoiceNo'].str.startswith('C')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315,United Kingdom

In [64]:
print('{:.2f}% of orders are cancellations'.format((len(df[df['InvoiceNo'].str.startswith('C')])/df.shape[0])*100))

2.21% of orders are cancellations

### Check all orders from a client that has cancelled 1 order

In [55]:
df[df['CustomerID'] == '17548']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
238,C536391,21980,PACK OF 12 RED RETROSPOT TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
239,C536391,21484,CHICK GREY HOT WATER BOTTLE,-12,2010-12-01 10:24:00,3.45,17548,United Kingdom
240,C536391,22557,PLASTERS IN TIN VINTAGE PAISLEY,-12,2010-12-01 10:24:00,1.65,17548,United Kingdom
241,C536391,22553,PLASTERS IN TIN SKULLS,-24,2010-12-01 10:24:00,1.65,17548,United Kingdom
165024,550755,22585,PACK OF 6 BIRDY GIFT TAGS,24,2011-04-20 12:01:00,1.25,17548,United Kingdom
165025,550755,22082,RIBBON REEL STRIPES DESIGN,10,2011-04-20 12:01:00,1.65,17548,United Kingdom
165026,550755,22081,RIBBON REEL FLORA + FAUNA,10,2011-04-20 12:01:00,1.65,17548,United Kingdom
165027,550755,22079,RIBBON REEL HEARTS DESIGN,10,2011-04-20 12:01:00,1.65,17548,United Kingdom
165028,550755,22926,IVORY GIANT GARDEN THERMOMETER,4,2011-04-20 12:01:00,5.95,17548,United Kingdom
177223,C552049,22926,IVORY GIANT GARDEN THERMOMETER,-4,2011-05-06 10:00:00,5.95,17548,United Kingdom
177224,C552049,22585,PACK OF 6 BIRDY GIFT TAGS,-24,2011-05-06 10:00:00,1.25,17548,United Kingdom
177225,C552049,22082,RIBBON REEL STRIPES DESIGN,-10,2011-05-06 10:00:00,1.65,17548,United Kingdom
177226,C552049,22081,RIBBON REEL FLORA + FAUNA,-10,2011-05-06 10:00:00,1.65,17548,United Kingdom
177227,C552049,22079,RIBBON REEL HEARTS DESIGN,-10,2011-05-06 10:00:00,1.65,17548,United Kingdom

=> We see that cancelled products appear only on the line with InvoiceNo starting with C  
=> We can remove cancellations ?

### Mean number of orders for clients :

In [101]:
df['CustomerID'].value_counts().mean()

91.85818847209515

### Mean number of orders for clients that have cancelled at least 1 order :

In [97]:
df[df['CustomerID'].isin(df[df['InvoiceNo'].str.startswith('C')]['CustomerID'].unique())]['CustomerID'].value_counts().mean()

158.27942101950913

=> We'll keep this information of cancellations for the model

## Invoice date (min and max values)

In [24]:
print('Minimum Invoice Date : ' + str(df['InvoiceDate'].min()))
print('Maximum Invoice Date : ' + str(df['InvoiceDate'].max()))

Minimum Invoice Date : 2010-12-01 08:26:00
Maximum Invoice Date : 2011-12-09 12:50:00

## Comparison of StockCode and Description

In [25]:
df[['StockCode', 'Description']].sort_values(by='StockCode')

       StockCode                 Description
81833      10002  INFLATABLE POLITICAL GLOBE
20617      10002  INFLATABLE POLITICAL GLOBE
121872     10002  INFLATABLE POLITICAL GLOBE
64438      10002  INFLATABLE POLITICAL GLOBE
64502      10002  INFLATABLE POLITICAL GLOBE
...          ...                         ...
208148      POST                     POSTAGE
438777      POST                     POSTAGE
357678      POST                     POSTAGE
515942      POST                     POSTAGE
138811      POST                     POSTAGE

[401604 rows x 2 columns]

=> Description is the text corresponding to StockCode

In [26]:
print('Number of unique Description : ' + str(len(df['Description'].unique())))
print('Number of unique StockCode : ' + str(len(df['StockCode'].unique())))

Number of unique Description : 3885
Number of unique StockCode : 3684

=> There are more descriptions than stock codes. Are there inconsistencies with some description texts ?

In [116]:
progbar = tqdm(range(len(df['StockCode'].unique())))

stockcodes_defaults = []

for stockcode_id in df['StockCode'].unique():    
    # If number of unique description values is different from 1, we have some anomaly in description
    if ((len(df[df['StockCode'] == stockcode_id]['Description'].unique())) != 1):
        stockcodes_defaults.append(stockcode_id)   
    
    progbar.update(1)

HBox(children=(IntProgress(value=0, max=3684), HTML(value='')))

In [128]:
print('=> ' + str(len(stockcodes_defaults)) + ' products do not always have the same description text for each order')

=> 210 products do not always have the same description text for each order

Let's explore that : we have some differences due to coma or added words/letters

In [123]:
qgrid_show(df[df['StockCode'].isin(stockcodes_defaults)].sort_values(by='StockCode'))

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…

In [148]:
# Print description that has most occurences for a stock code :
df[df['StockCode'] == '21232']['Description'].value_counts().sort_values(ascending=False).index[0]

'STRAWBERRY CERAMIC TRINKET BOX'

In [150]:
progbar = tqdm(range(len(df['StockCode'].unique())))

ref_descriptions = {}

# For each stock code : assign most represented description value in the dataset
for stockcode_id in df['StockCode'].unique():    
    ref_descriptions[stockcode_id] = df[df['StockCode'] == stockcode_id]['Description'].value_counts().sort_values(ascending=False).index[0]
    
    progbar.update(1)

HBox(children=(IntProgress(value=0, max=3684), HTML(value='')))

In [161]:
df['DescriptionNormalized'] = df['StockCode'].apply(lambda val : ref_descriptions[val] )

In [163]:
qgrid_show(df[df['StockCode'].isin(stockcodes_defaults)].sort_values(by='StockCode'))

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…

In [112]:
len(df[df['StockCode'] == '22733']['Description'].unique())

1

In [66]:
df[df['StockCode'].isna()]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [63]:
df[['StockCode']].sort_values(by='StockCode')

           StockCode
160128         10002
6166           10002
75792          10002
63082          10002
76571          10002
...              ...
42057   gift_0001_50
178556  gift_0001_50
245516  gift_0001_50
239744  gift_0001_50
40383              m

[541909 rows x 1 columns]

In [67]:
df[['StockCode', 'Description']].sort_values(by='StockCode')

           StockCode                         Description
160128         10002         INFLATABLE POLITICAL GLOBE
6166           10002         INFLATABLE POLITICAL GLOBE
75792          10002         INFLATABLE POLITICAL GLOBE
63082          10002         INFLATABLE POLITICAL GLOBE
76571          10002         INFLATABLE POLITICAL GLOBE
...              ...                                 ...
42057   gift_0001_50  Dotcomgiftshop Gift Voucher £50.00
178556  gift_0001_50  Dotcomgiftshop Gift Voucher £50.00
245516  gift_0001_50  Dotcomgiftshop Gift Voucher £50.00
239744  gift_0001_50  Dotcomgiftshop Gift Voucher £50.00
40383              m                              Manual

[541909 rows x 2 columns]

In [18]:
qgrid_show(df)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…