# Openclassrooms PJ4 : transats dataset : modelisation notebook

In [1]:
%matplotlib inline

import os
import zipfile
import urllib

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import qgrid

import glob

from pandas.plotting import scatter_matrix

DATA_PATH = os.path.join("datasets", "transats")
DATA_PATH = os.path.join(DATA_PATH, "out")

DATA_PATH_FILE_INPUT = os.path.join(DATA_PATH, "transats_metadata_transformed.csv")

plt.rcParams["figure.figsize"] = [16,9] # Taille par défaut des figures de matplotlib

import seaborn as sns
sns.set()

#import common_functions

In [2]:
def qgrid_show(df):
    display(qgrid.show_grid(df, grid_options={'forceFitColumns': False, 'defaultColumnWidth': 170}))

In [3]:
def print_column_information(df, column_name):
    column_type = df.dtypes[column_name]
    print(f'Column {column_name}, type {column_type}\n')
    print('--------------------------')

    print(df[[column_name]].groupby(column_name).size().sort_values(ascending=False))
    print(df[column_name].unique())    
    print('\n')

In [4]:
def display_percent_complete(df):
    not_na = 100 - (df.isnull().sum() * 100 / len(df))
    not_na_df = pd.DataFrame({'column_name': df.columns,
                                     'percent_complete': not_na}).sort_values(by='percent_complete', ascending=False)
    display(not_na_df)

In [5]:
def identify_features(df, all_features):
    quantitative_features = []
    qualitative_features = []
    features_todrop = []

    for feature_name in all_features:
        if (df[feature_name].dtype == 'object'):
            qualitative_features.append(feature_name)

        else:
            quantitative_features.append(feature_name)

    print(f'Quantitative features : {quantitative_features} \n')
    print(f'Qualitative features : {qualitative_features} \n')  
    
    return quantitative_features, qualitative_features

# Data load

In [6]:
# hhmm timed features formatted
feats_hhmm = ['CRS_DEP_TIME',  'CRS_ARR_TIME']

df = pd.read_csv(DATA_PATH_FILE_INPUT, sep=',', header=0, encoding='utf-8', low_memory=False, parse_dates=feats_hhmm)

In [7]:
df.shape

(5547828, 14)

In [8]:
display_percent_complete(df)

                       column_name  percent_complete
ORIGIN                      ORIGIN             100.0
CRS_DEP_TIME          CRS_DEP_TIME             100.0
MONTH                        MONTH             100.0
DAY_OF_MONTH          DAY_OF_MONTH             100.0
DAY_OF_WEEK            DAY_OF_WEEK             100.0
UNIQUE_CARRIER      UNIQUE_CARRIER             100.0
DEST                          DEST             100.0
CRS_ARR_TIME          CRS_ARR_TIME             100.0
DISTANCE                  DISTANCE             100.0
CRS_ELAPSED_TIME  CRS_ELAPSED_TIME             100.0
ARR_DELAY                ARR_DELAY             100.0
DEP_DELAY                DEP_DELAY             100.0
TAXI_OUT                  TAXI_OUT             100.0
TAIL_NUM                  TAIL_NUM             100.0

In [9]:
for column_name in df.columns:
    print_column_information(df, column_name)

Column ORIGIN, type object

--------------------------
ORIGIN
ATL    392037
ORD    240967
DEN    222012
LAX    210219
DFW    194370
        ...
MMH        91
GST        83
DLG        83
PGD        78
AKN        63
Length: 308, dtype: int64
['DFW' 'DTW' 'SEA' 'JFK' 'SJC' 'ORD' 'PHX' 'STL' 'LAX' 'MCO' 'DEN' 'MIA'
 'KOA' 'IAH' 'AUS' 'LAS' 'SLC' 'TUS' 'STT' 'BOS' 'FLL' 'SFO' 'OGG' 'TPA'
 'SNA' 'OKC' 'HNL' 'PHL' 'LGA' 'RDU' 'DCA' 'RIC' 'ATL' 'LBB' 'CLT' 'ELP'
 'SAN' 'BNA' 'JAC' 'SMF' 'EWR' 'IAD' 'LIH' 'SJU' 'ABQ' 'ORF' 'JAX' 'MSY'
 'SAT' 'MCI' 'GUC' 'IND' 'PDX' 'BWI' 'MSP' 'MKE' 'TUL' 'ONT' 'RSW' 'RNO'
 'DSM' 'MFE' 'PSP' 'OMA' 'EGE' 'PBI' 'SDF' 'PIT' 'FAT' 'DAY' 'STX' 'COS'
 'CMH' 'MTJ' 'HDN' 'BDL' 'MEM' 'CLE' 'HOU' 'BOI' 'OAK' 'GEG' 'ANC' 'BUF'
 'SYR' 'ALB' 'PVD' 'ROC' 'ILM' 'ICT' 'PWM' 'GSO' 'CHS' 'MDT' 'BHM' 'ADQ'
 'BET' 'BRW' 'SCC' 'FAI' 'JNU' 'KTN' 'YAK' 'CDV' 'SIT' 'PSG' 'WRG' 'OME'
 'OTZ' 'BUR' 'BLI' 'ADK' 'SWF' 'LGB' 'PSE' 'BQN' 'HPN' 'SAV' 'SRQ' 'BTV'
 'ORH' 'DAB' 'CVG' 'BIS' 'AVL' 'GRR' 'FNT' 'MYR' 'JAN' 'BIL' 'FAR' 'PNS'
 'AGS' 'GSP' 'LEX' 'DAL' 'ATW' 'GPT' 'MLB' 'BZN' 'CAK' 'CHO' 'MSN' 'EYW'
 'TRI' 'LFT' 'ROA' 'ECP' 'VPS' 'XNA' 'EVV' 'AVP' 'MDW' 'HSV' 'FAY' 'LIT'
 'TYS' 'TLH' 'MSO' 'CHA' 'TTN' 'UST' 'MOB' 'PHF' 'CAE' 'FSD' 'ITO' 'LBE'
 'ABE' 'BMI' 'CRW' 'ACY' 'PPG' 'IAG' 'ACT' 'MLU' 'GRK' 'SHV' 'FSM' 'MAF'
 'SAF' 'JLN' 'LRD' 'BRO' 'TYR' 'GJT' 'YUM' 'DLH' 'GRB' 'LAN' 'SBA' 'ASE'
 'DRO' 'IDA' 'RAP' 'FCA' 'LNK' 'AMA' 'BFL' 'MLI' 'LSE' 'SBN' 'PSC' 'MOT'
 'FLG' 'ISN' 'GFK' 'GTF' 'FWA' 'MRY' 'MBS' 'PIA' 'SUN' 'TWF' 'SGF' 'CPR'
 'BTR' 'PBG' 'CRP' 'CID' 'SBP' 'RKS' 'CMX' 'MMH' 'PLN' 'EKO' 'GCC' 'AZO'
 'MFR' 'SMX' 'EUG' 'RST' 'TVC' 'SPI' 'SGU' 'HLN' 'RDM' 'ACV' 'EAU' 'DVL'
 'JMS' 'MKG' 'HYS' 'PAH' 'COD' 'ABR' 'ITH' 'APN' 'ESC' 'BJI' 'MQT' 'CIU'
 'BGM' 'RHI' 'LWS' 'IMT' 'BRD' 'INL' 'PIH' 'GUM' 'HIB' 'BTM' 'CDC' 'OTH'
 'RDD' 'MHT' 'GNV' 'MEI' 'PIB' 'BPT' 'LAW' 'AEX' 'TXK' 'ROW' 'ERI' 'CLL'
 'HOB' 'LCH' 'HRL' 'CWA' 'OAJ' 'ELM' 'VLD' 'MGM' 'BGR' 'GTR' 'CSG' 'BQK'
 'DHN' 'EWN' 'ABY' 'SCE' 'ISP' 'LAR' 'SPS' 'SJT' 'GGG' 'WYS' 'ACK' 'MVY'
 'HYA' 'GST' 'AKN' 'DLG' 'GCK' 'ABI' 'GRI' 'PGD']


Column CRS_DEP_TIME, type object

--------------------------
CRS_DEP_TIME
0600    97434
0700    76991
0800    55002
0900    39424
0630    38003
        ...
0430        1
0438        1
0242        1
0313        1
0431        1
Length: 1334, dtype: int64
['1100' '1513' '1523' ... '0357' '0313' '0121']


Column MONTH, type int64

--------------------------
MONTH
3     588508
7     490066
8     489142
6     479990
5     474862
10    466950
9     452060
12    451324
11    448428
1     432691
2     415608
4     358199
dtype: int64
[ 1  2  3  4  5  6  7  8  9 10 11 12]


Column DAY_OF_MONTH, type int64

--------------------------
DAY_OF_MONTH
26    187059
15    186909
18    186829
28    186391
22    185971
27    185269
21    184786
14    184673
11    184579
29    184324
19    183866
20    182712
2     182115
12    181894
17    181152
16    180942
13    180887
25    180712
6     180497
1     180009
5     179859
8     179817
23    179579
7     179288
10    178582
3     178207
4     178086
9     177951
24    172169
30    164855
31    107859
dtype: int64
[ 6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
 30 31  1  2  3  4  5]


Column DAY_OF_WEEK, type int64

--------------------------
DAY_OF_WEEK
5    830315
4    825634
1    817835
3    817405
2    810568
7    770714
6    675357
dtype: int64
[3 4 5 6 7 1 2]


Column UNIQUE_CARRIER, type object

--------------------------
UNIQUE_CARRIER
WN    1274612
DL     964023
AA     871930
OO     592938
UA     537793
EV     488872
B6     279611
AS     165641
NK     135322
F9      94376
HA      76265
VX      66445
dtype: int64
['AA' 'AS' 'B6' 'DL' 'F9' 'HA' 'NK' 'EV' 'OO' 'UA' 'VX' 'WN']


Column DEST, type object

--------------------------
DEST
ATL    391837
ORD    240613
DEN    221846
LAX    210294
DFW    193996
        ...
ADK        95
DLG        84
GST        82
PGD        77
AKN        63
Length: 308, dtype: int64
['DTW' 'DFW' 'JFK' 'SEA' 'ORD' 'SJC' 'STL' 'DCA' 'TPA' 'MIA' 'DEN' 'LAX'
 'KOA' 'IAH' 'AUS' 'LAS' 'MCO' 'SLC' 'STT' 'BOS' 'FLL' 'SFO' 'HNL' 'OGG'
 'TUL' 'PHL' 'SNA' 'IAD' 'LGA' 'RDU' 'EWR' 'RIC' 'PDX' 'CLT' 'ELP' 'SAN'
 'SAT' 'MCI' 'BNA' 'PHX' 'ONT' 'TUS' 'SMF' 'OKC' 'LIH' 'ORF' 'RSW' 'BWI'
 'MSP' 'GUC' 'IND' 'ATL' 'SJU' 'PSP' 'MSY' 'COS' 'MKE' 'JAX' 'PIT' 'RNO'
 'MFE' 'PBI' 'EGE' 'DAY' 'ABQ' 'LBB' 'SDF' 'STX' 'DSM' 'OMA' 'CLE' 'BDL'
 'FAT' 'CMH' 'JAC' 'MTJ' 'HDN' 'MEM' 'HOU' 'BOI' 'OAK' 'GEG' 'ANC' 'BUF'
 'ICT' 'PVD' 'ALB' 'SYR' 'ILM' 'PWM' 'ROC' 'CHS' 'MDT' 'GSO' 'BHM' 'BLI'
 'BET' 'ADQ' 'BRW' 'SCC' 'FAI' 'KTN' 'YAK' 'CDV' 'JNU' 'SIT' 'WRG' 'PSG'
 'OME' 'OTZ' 'BUR' 'ADK' 'LGB' 'SWF' 'HPN' 'PSE' 'BQN' 'SRQ' 'SAV' 'BTV'
 'ORH' 'DAB' 'CVG' 'FAR' 'MSN' 'GRR' 'EVV' 'AVP' 'BIL' 'AGS' 'DAL' 'TRI'
 'MDW' 'GPT' 'PHF' 'MLB' 'BZN' 'CHA' 'MSO' 'CHO' 'LEX' 'EYW' 'ECP' 'VPS'
 'GSP' 'ATW' 'LFT' 'SGF' 'CAK' 'FSD' 'FAY' 'PNS' 'LIT' 'ROA' 'MHT' 'JAN'
 'MYR' 'HSV' 'TYS' 'FNT' 'CID' 'TTN' 'BIS' 'UST' 'AVL' 'CAE' 'CRW' 'ITO'
 'ACY' 'LBE' 'ABE' 'XNA' 'BMI' 'PPG' 'IAG' 'JLN' 'SHV' 'TYR' 'MLU' 'GRK'
 'MAF' 'BTR' 'LAW' 'SPI' 'ACT' 'BRO' 'AEX' 'LCH' 'YUM' 'DLH' 'FWA' 'GRB'
 'SBN' 'LAN' 'SBA' 'DRO' 'RAP' 'ASE' 'MOT' 'EUG' 'MMH' 'LNK' 'MFR' 'GJT'
 'GTF' 'SMX' 'MLI' 'LSE' 'PSC' 'FCA' 'FLG' 'HLN' 'ACV' 'MBS' 'PIA' 'RST'
 'PBG' 'BFL' 'SUN' 'IDA' 'MRY' 'GFK' 'AMA' 'CRP' 'SBP' 'ISN' 'SGU' 'TWF'
 'PLN' 'EKO' 'CPR' 'LAR' 'TVC' 'AZO' 'RDM' 'CLL' 'CMX' 'COD' 'EAU' 'JMS'
 'DVL' 'PAH' 'MKG' 'GCC' 'ABR' 'APN' 'ITH' 'MQT' 'CIU' 'BGM' 'RHI' 'IMT'
 'LWS' 'INL' 'PIH' 'GUM' 'HIB' 'ESC' 'BJI' 'BRD' 'BTM' 'CDC' 'RKS' 'HYS'
 'RDD' 'OTH' 'TLH' 'MOB' 'GNV' 'MEI' 'PIB' 'FSM' 'BPT' 'SAF' 'LRD' 'TXK'
 'ROW' 'CWA' 'ERI' 'HRL' 'HOB' 'ELM' 'SCE' 'OAJ' 'VLD' 'MGM' 'GTR' 'BQK'
 'DHN' 'CSG' 'BGR' 'ABY' 'EWN' 'ISP' 'SJT' 'SPS' 'GGG' 'WYS' 'MVY' 'ACK'
 'HYA' 'GST' 'DLG' 'AKN' 'GCK' 'ABI' 'GRI' 'PGD']


Column CRS_ARR_TIME, type object

--------------------------
CRS_ARR_TIME
1700    18385
1650    17336
2100    17133
1305    16386
1655    16311
        ...
0238        1
0252        1
0406        1
0418        1
0255        1
Length: 1439, dtype: int64
['1438' '1724' '1730' ... '0406' '0252' '0231']


Column DISTANCE, type float64

--------------------------
DISTANCE
337.0     52623
447.0     28488
404.0     27110
594.0     26994
867.0     26238
          ...
115.0         1
1672.0        1
132.0         1
2209.0        1
30.0          1
Length: 1347, dtype: int64
[ 986. 2422. 1829. ...  514. 1573.   47.]


Column CRS_ELAPSED_TIME, type float64

--------------------------
CRS_ELAPSED_TIME
80.0     115132
85.0     113336
90.0      99627
70.0      97365
75.0      94439
          ...
449.0         1
583.0         1
534.0         1
542.0         1
468.0         1
Length: 574, dtype: int64
[158. 191. 187. 317. 321. 385. 382. 258. 284. 280. 148. 149. 120. 114.
  97.  99. 295. 159. 153. 183. 185. 236. 234. 271. 281. 311. 312. 358.
 363. 165. 163. 196. 201. 202. 205. 142. 178. 180. 182. 170. 171. 175.
 166. 204. 212. 211. 215. 216. 262. 264. 268. 294. 291. 297. 357. 177.
  77.  75.  78.  76. 186. 181. 155. 156. 168. 129. 132. 241. 189. 130.
 199. 194. 206. 200. 323. 327.  98. 402. 184. 167. 169. 203. 328. 318.
  84.  81.  88.  93. 359. 313. 267. 266.  89. 244. 240.  68. 208. 176.
 408. 410. 219. 209. 394. 330. 329. 378. 384. 516. 524.  66.  69. 427.
 430. 509. 514. 443. 439. 446. 403. 395. 309. 314. 337. 335. 307. 303.
 400. 405. 332. 399. 197. 230. 375. 380. 326. 393. 389. 390. 336. 239.
 238. 316. 190. 188. 364. 373. 319. 324. 147. 237. 192. 279. 278. 277.
 242. 233. 261. 356. 361. 325. 274. 397. 334. 179. 401. 381. 113. 109.
  91.  92.  74.  83. 388. 222. 150. 231. 341. 345. 387. 207. 198. 162.
 140. 136. 252. 391. 416. 226. 254. 193. 126. 354. 210. 365. 260.  70.
  64.  73. 131. 128. 108. 100. 101. 107. 105. 221. 144. 110. 161. 133.
 248. 250.  65. 121. 298. 287. 283. 263. 355. 308. 352. 228.  63.  62.
 145. 195. 235. 232. 293. 290. 164. 143. 218. 257. 383. 273. 174. 173.
 141. 160. 223. 225. 247. 377. 217.  94. 448.  82. 249. 275.  72. 265.
  61. 433. 432. 396. 331. 507. 511. 151. 518. 527. 224. 366. 374. 370.
 172. 137. 320. 362.  67. 135. 289. 288. 125. 152. 124.  90. 122.  87.
  85. 116. 118. 214. 286. 127. 106. 134. 117. 146. 119.  95. 103. 104.
 213.  71. 102. 220. 154.  96. 372. 368. 315. 253. 348. 123.  56.  86.
 157. 139. 112. 259. 245. 255. 251. 256. 338. 340. 229.  79. 138. 344.
 111. 276. 304. 301. 369.  80. 272. 246. 285. 351.  60. 115. 227.  59.
  57. 342.  58. 243. 269. 322. 333. 270. 339. 386. 300. 343. 282.  55.
 414. 299. 404. 306. 305. 347. 310. 349. 350. 421. 411. 412. 418.  52.
 302.  49.  48.  54. 367. 292.  50.  51. 371. 409.  53.  44. 415. 353.
 296. 346. 426. 376. 425. 360. 379.  45.  47.  25.  46.  32.  39.  21.
  40.  42. 419.  30.  24.  36.  41.  43. 398.  37. 392.  34. 413. 611.
 473. 585. 705. 406. 517. 616. 544. 575. 615. 424.  35.  38.  33. 482.
 407. 578. 683. 646. 475. 493. 570. 456. 521. 466. 555. 562. 480. 417.
 460. 685. 477. 435. 520. 450. 423. 471. 542. 420. 548. 584. 515. 610.
 695. 462.  22.  31.  28. 464. 513. 510. 613. 523. 525. 463. 579. 679.
 647. 494. 564. 461. 474. 700. 587. 676. 633. 558. 472. 438. 675. 437.
 455. 453. 451. 434. 505. 530. 593. 452. 428. 595. 665. 440. 465. 508.
 454. 519. 512.  23.  26. 532. 535. 580. 470. 467.  18. 468. 654. 565.
 618. 545. 500. 650. 447. 476. 499. 436. 488. 457. 441. 484. 495.  29.
  27. 422. 469. 531. 576. 574. 583. 655. 586. 504. 489. 496. 459. 485.
 506.  20. 528. 526. 577. 660. 581. 614. 490. 546. 497. 429. 537. 442.
 444. 534. 445. 591. 589. 644. 573. 672. 560. 627. 606. 604. 529. 670.
 625. 559. 449. 704. 617. 552. 588. 698. 549. 503. 569. 686. 486. 571.]


Column ARR_DELAY, type float64

--------------------------
ARR_DELAY
-9.0       173678
-10.0      173531
-11.0      171905
-8.0       171547
-7.0       168101
            ...
 1122.0         1
 1123.0         1
 1124.0         1
 1132.0         1
-152.0          1
Length: 1385, dtype: int64
[  -6.  -12.    7. ...  813.  997. 1145.]


Column DEP_DELAY, type float64

--------------------------
DEP_DELAY
-3.0       453418
-5.0       447193
-4.0       444253
-2.0       429821
-1.0       376195
            ...
 1127.0         1
 1130.0         1
 1134.0         1
 1137.0         1
-204.0          1
Length: 1331, dtype: int64
[  -3.   -4.   -5. ...  964.  -60. 1088.]


Column TAXI_OUT, type float64

--------------------------
TAXI_OUT
12.0     454445
11.0     448910
13.0     433665
10.0     412580
14.0     397419
          ...
169.0         1
165.0         1
164.0         1
163.0         1
186.0         1
Length: 178, dtype: int64
[ 15.  14.  21.  13.  20.  11.  12.  18.  24.  23.  17.   9.  16.  42.
  19.  34.  10.  28.  33.  22.  27.  30.  25.  32.  40.  29.  45.  36.
  46.  39.  26.  37.   8.   7.  31.  38.  41.  35.  58.  61.  44.  43.
  75.  59.  48.  47.  86.  65.  53.  55.  49.  60.  66.  97.  57.  52.
 105.  84.  51.  73.  56.  79.  62.  67.  50.  54. 121.   6.  70.  63.
  83.  68.  81.  64.  72. 139.  69.  89.   5.  78.  74.  77.  87.  76.
  98. 106. 128. 109. 111. 118.  82.  95.  93.  94.  88.  91. 124.  85.
  71.  80.  99. 102.  90.  96. 104.   1. 131. 132. 107. 103. 101. 112.
 137.   4. 110. 126. 158.   3.   2. 135.  92. 141. 130. 120. 114. 119.
 129. 122. 108. 156. 125. 140. 115. 100. 138. 113. 133. 134. 117. 147.
 123. 146. 143. 148. 127. 136. 116. 157. 151. 144. 150. 145. 155. 142.
 161. 159. 149. 160. 154. 166. 153. 185. 152. 162. 168. 172. 183. 163.
 167. 186. 170. 174. 165. 164. 176. 169. 179. 178.]


Column TAIL_NUM, type object

--------------------------
TAIL_NUM
N491HA    3930
N486HA    3725
N492HA    3703
N493HA    3649
N476HA    3629
          ...
N852NW       2
N670US       1
N854NW       1
N665US       1
N668US       1
Length: 5033, dtype: int64
['N4YBAA' 'N434AA' 'N541AA' ... 'N8513F' 'N7882B' 'N8517F']

# Identification of features

In [10]:
# Below are feature from dataset that we decided to keep: 
all_features = ['ORIGIN','CRS_DEP_TIME','MONTH','DAY_OF_MONTH','DAY_OF_WEEK','UNIQUE_CARRIER','DEST','CRS_ARR_TIME','DISTANCE','CRS_ELAPSED_TIME','ARR_DELAY','DEP_DELAY', 'TAXI_OUT', 'TAIL_NUM']

model1_features = ['ORIGIN','CRS_DEP_TIME','MONTH','DAY_OF_MONTH','DAY_OF_WEEK','UNIQUE_CARRIER','DEST','CRS_ARR_TIME','DISTANCE','CRS_ELAPSED_TIME']
model1_label = 'ARR_DELAY'

quantitative_features = []
qualitative_features = []
features_todrop = []

for feature_name in all_features:
    if (df[feature_name].dtype == 'object'):
        qualitative_features.append(feature_name)
        
    else:
        quantitative_features.append(feature_name)

print(f'Quantitative features : {quantitative_features} \n')
print(f'Qualitative features : {qualitative_features} \n')        
        

#Commented out : no drop of features
#for df_column in df.columns:
#    if df_column not in all_features:
#        features_todrop.append(df_column)
#        
#print(f'Features to drop : {features_todrop} \n')

Quantitative features : ['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'DISTANCE', 'CRS_ELAPSED_TIME', 'ARR_DELAY', 'DEP_DELAY', 'TAXI_OUT']

Qualitative features : ['ORIGIN', 'CRS_DEP_TIME', 'UNIQUE_CARRIER', 'DEST', 'CRS_ARR_TIME', 'TAIL_NUM']

# Split train set, test set

In [185]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.2, random_state=42)

In [186]:
df_train = df_train.sample(1000).copy(deep=True)

In [187]:
df_train

,ORIGIN,CRS_DEP_TIME,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,DEST,CRS_ARR_TIME,DISTANCE,CRS_ELAPSED_TIME,ARR_DELAY,DEP_DELAY,TAXI_OUT,TAIL_NUM
3943445,LAX,1606,9,8,4,UA,EWR,0021,2454.0,315.0,-3.0,11.0,18.0,N17105
2792288,CLE,2230,7,11,1,WN,BWI,2340,314.0,70.0,-5.0,-3.0,10.0,N764SW
4807829,SAN,1830,11,15,2,WN,PHX,2040,304.0,70.0,-2.0,3.0,11.0,N620SW
1713378,ATL,1350,3,17,4,DL,DEN,1512,1199.0,202.0,15.0,3.0,23.0,N935DN
4964824,SFO,1900,11,9,3,UA,OGG,2236,2338.0,336.0,-16.0,0.0,13.0,N87512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795052,CLE,1528,9,28,3,AA,CLT,1708,430.0,100.0,6.0,-5.0,13.0,N840AW
5062795,DFW,1220,11,11,5,AA,LAX,1356,1235.0,216.0,5.0,18.0,24.0,N858AA
1711453,MCO,1725,3,17,4,DL,ATL,1907,404.0,102.0,13.0,19.0,25.0,N6708D
5401696,LGA,0840,12,21,3,UA,IAH,1158,1416.0,258.0,-48.0,-1.0,13.0,N78509
4171345,CAE,1202,9,16,5,EV,ATL,1311,192.0,69.0,10.0,24.0,11.0,N861AS

# Features encoding

In [188]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

from sklearn import decomposition
from sklearn import preprocessing

from sklearn.preprocessing import StandardScaler

from sklearn.compose import ColumnTransformer

import statistics


'''
Cette fonction fait un 1 hot encoding des features qui sont des catégories
Elle fonctionne pour les 2 cas de figure suivant :
- Les valeurs possibles de la colonne sont une chaîne de caractère (ex : cat1)
- Les valeurs possibles de la colonne sont des chaînes de caractère avec des séparateurs (ex:  cat1|cat2|cat3)
'''
    
def add_categorical_features_1hot(df, categorical_features_totransform):
    #df.drop(labels=categorical_features_totransform, axis=1, inplace=True)
    
    for feature_totransform in categorical_features_totransform:
        print(f'Adding 1hot Feature : {feature_totransform}')
        
        df_transformed = df[feature_totransform].str.get_dummies().add_prefix(feature_totransform +'_')   
        df.drop(labels=feature_totransform, axis=1, inplace=True)
        
        df = pd.concat([df, df_transformed], axis=1)
        
    return(df)


class HHMM_to_Minutes(BaseEstimator, TransformerMixin):
    def __init__(self, features_toconvert = ['CRS_DEP_TIME', 'CRS_ARR_TIME']):
        self.features_toconvert = features_toconvert
        return None
    
    def fit(self, df):      
        return self
    
    def transform(self, df):       
        for feature_toconvert in self.features_toconvert:
            df_concat = pd.concat([df[feature_toconvert].str.slice(start=0,stop=2, step=1),df[feature_toconvert].str.slice(start=2,stop=4, step=1)], axis=1).astype(int)
            df[feature_toconvert] = (df_concat.iloc[:, [0]] * 60 + df_concat.iloc[:, [1]])[feature_toconvert]
        
        return(df)

        
class CategoricalFeatures1HotEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, categorical_features_totransform=['ORIGIN', 'UNIQUE_CARRIER', 'DEST']):
        self.categorical_features_totransform = categorical_features_totransform
    
    def fit(self, df, labels=None):      
        return self
    
    def transform(self, df):       
        return(add_categorical_features_1hot(df, self.categorical_features_totransform))

class FeaturesSelector(BaseEstimator, TransformerMixin):
    def __init__(self, features_toselect = None):  # If None : every column is kept, nothing is done
        self.features_toselect = features_toselect
    
    def fit(self, df, labels=None):      
        return self
    
    def transform(self, df):       
        if (self.features_toselect != None):
            filter_cols = [col for col in df if (col.startswith(tuple(self.features_toselect)))]
            return(df[filter_cols])    

        else:
            return(df)
    
preparation_pipeline = Pipeline([
    ('data_converter', HHMM_to_Minutes()),
    ('categoricalfeatures_1hotencoder', CategoricalFeatures1HotEncoder()),
    #('standardscaler', preprocessing.StandardScaler()),
])


prediction_pipeline = Pipeline([
    ('features_selector', FeaturesSelector(features_toselect=['ORIGIN','CRS_DEP_TIME','MONTH','DAY_OF_MONTH','DAY_OF_WEEK','UNIQUE_CARRIER','DEST','CRS_ARR_TIME','DISTANCE','CRS_ELAPSED_TIME'])),
    ('standardscaler', ColumnTransformer([
        ('standardscaler_specific', StandardScaler(), ['CRS_DEP_TIME','MONTH','DAY_OF_MONTH', 'DAY_OF_WEEK', 'CRS_ARR_TIME', 'DISTANCE', 'CRS_ELAPSED_TIME'])
    ], remainder='passthrough')),
    #('predictor', To_Complete(predictor_params =  {'n_neighbors':6, 'algorithm':'ball_tree', 'metric':'minkowski'})),
])


'''
ColumnTransformer([
        ('standardscaler_specific', StandardScaler(), ['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'DISTANCE', 'CRS_ELAPSED_TIME', 'ARR_DELAY', 'DEP_DELAY', 'TAXI_OUT'])
    ], remainder='passthrough')
'''

"\nColumnTransformer([\n        ('standardscaler_specific', StandardScaler(), ['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'DISTANCE', 'CRS_ELAPSED_TIME', 'ARR_DELAY', 'DEP_DELAY', 'TAXI_OUT'])\n    ], remainder='passthrough')\n"

In [189]:
df_transformed = preparation_pipeline.fit_transform(df_train)

Adding 1hot Feature : ORIGIN
Adding 1hot Feature : UNIQUE_CARRIER
Adding 1hot Feature : DEST

In [190]:
df_transformed.shape

(1000, 310)

In [191]:
type(df_transformed)

pandas.core.frame.DataFrame

In [192]:
df_transformed = prediction_pipeline.fit_transform(df_transformed)

In [193]:
df_transformed.shape

(1000, 306)

In [194]:
df_transformed

array([[ 0.49942336,  0.70019342, -0.92917492, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.81753444,  0.12508589, -0.58693738, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.99371502,  1.27530095, -0.13062066, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.77059726, -1.02512917,  0.0975377 , ...,  0.        ,
         0.        ,  0.        ],
       [-1.03150773,  1.56285471,  0.55385442, ...,  0.        ,
         0.        ,  0.        ],
       [-0.33812638,  0.70019342, -0.01654148, ...,  0.        ,
         0.        ,  0.        ]])

In [195]:
pd.set_option('display.max_columns', 400)

In [196]:
quantitative_features, qualitative_features = identify_features(df, all_features)

Quantitative features : ['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'DISTANCE', 'CRS_ELAPSED_TIME', 'ARR_DELAY', 'DEP_DELAY', 'TAXI_OUT']

Qualitative features : ['ORIGIN', 'CRS_DEP_TIME', 'UNIQUE_CARRIER', 'DEST', 'CRS_ARR_TIME', 'TAIL_NUM']